!!!
%html
  %head
    %title Graph Visualizer

    %link(rel="stylesheet" type="text/css" href="bootstrap.min.css")

    :css
      form {
        margin: 0
      }

      #alert {
        position: absolute;
        top: 20px;
        width: 500px;
        left: 50%;
        margin-left: -250px;
        display: none;
      }

      #graph {
        position: absolute;
        bottom: 20px;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        font-size: 26px;
        padding: 4px 8px;
      }

      .node {
        stroke: #fff;
        stroke-width: 1.5px;
      }

      .link {
        stroke: #999;
        stroke-opacity: .6;
      }

    .container-fluid
      .row-fluid
        #sidebar.span2
          %h4 Graphs
          %ul.nav.nav-list
            %li.nav-header Files
            - Dir.glob("data/**{,/*/**}/*").each do |path|
              - next if File.directory? path
              - file = path.split('/').last
              %li
                %a{ href: "?graph=#{path.sub /^data\//, ''}" }= file

        #content.span10
          #alert.alert.alert-block.alert-error
            %button{ 'type' => 'button', 'class' => 'close', 'data-dismiss' => 'alert' }
              &times;
            %h4#alert-header
            %span#alert-text

          %form{ action: '', method: 'GET' }
            %input{ name: 'graph', id: 'graph', value: params[:graph] }

    %script{ type: 'text/javascript', src: '/public/jquery.min.js' }
    %script{ type: 'text/javascript', src: '/public/d3.min.js' }
    %script{ type: 'text/javascript', src: '/public/bootstrap.js' }
    %script{ type: 'text/javascript', src: '/app.js' }
  %body
